/* Timer styles */

/* ... existing styles ... */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: rgb(29,6,23);
	background: linear-gradient(7deg, rgba(29,6,23,1) 0%, rgb(33, 43, 66) 67%, rgba(29,23,23,1) 100%); 
}

.main-container{
	padding: 35px;
	background: rgb(30, 3, 90);
	background: radial-gradient(circle, rgb(32, 4, 65) 0%, rgba(0,0,0,1) 100%);
	box-shadow: 2px 5px 3px 3px;
	border-radius: 14px;
}

h1{
	margin-top: 0px;
	color: rgb(7, 143, 153);
}

.parent-time-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

input {
	margin-top: 2px;
	border-radius: 4px;
}

.time-box-1 input{
	height: 30px;
	font-size: 20px;
	width: 2.5rem;
	text-align: center;
}

.time-box-2 input{
	margin-right: 9px;
	height: 30px;
	font-size: 20px;
	width: 2.5rem;
	text-align: center;
}

.time-box-3 input{
	margin-left: 3px;
	height: 30px;
	font-size: 20px;
	width: 2.5rem;
	text-align: center;
}

.time-box-4 input{
	margin-right: 3px;
	height: 30px;
	font-size: 20px;
	width: 2.5rem;
	text-align: center;
}

label{
	margin-right: 10px;
	color: rgb(247, 228, 199);
}

.button-box {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.btn-start,
.btn-pause,
.btn-reset {
	padding: 10px 20px;
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	max-height: 70px;
	border: none;
	border-radius: 14px;
	cursor: pointer;
}

.btn-start {
	background-color: green;
	color: white;
}

.btn-pause {
	background-color: orange;
	color: white;
}

.btn-reset {
	background-color: rgb(206, 0, 0);
	color: white;
}